@model SignalRChat.Models.User
    
<div id="content" class="container">
    @if (Model != null && Model.Identifier != null)
    {
        <div class="row">
            <button id="btnInvite" class="btn btn-primary" value="@Request.Url?identifier=@Model.Identifier">Invitation link</button>
            <div id="userLegend">
                @Html.Action("UserLegend", "Home")
            </div>
        </div>
    }
    <div class="">
        <div class="row alert-info col-xs-12 col-md-4">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <ul id="discussion"></ul>
        </div>
        <div id="map_canvas" class="col-xs-11 col-md-8" style="height: 500px;"></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    @* ReSharper disable once Html.PathError *@
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/apps/chat.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnInvite").click(function() {
                copyToClipboard(this.value);
            });
        });

        function copyToClipboard(text) {
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        }
    </script>     
}